/* Базовые стили */
body {
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  .popups {
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    height: 100%;
  }
  
  .popup {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: none; /* Попапы скрыты по умолчанию */
  }
  
  .main-content {
    flex: 1;
    margin-left: 320px; /* Отступ для попапов */
    padding: 20px;
  }
  
  .tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .table-container {
    width: 48%; /* Две таблицы в ряд */
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  .delete-btn {
    background-color: transparent; /* Прозрачный фон */
    border: none;                 /* Убираем границу */
    padding: 5px;                 /* Небольшой отступ */
    cursor: pointer;              /* Курсор - указатель */
    color: red;                   /* Красный цвет */
  }