/* Базовые стили */
body {
  font-family: sans-serif;
  margin: 0; /* Убираем стандартные отступы */
}

.container {
  display: flex;
  flex-direction: column; /* На мобильных экранах элементы располагаются друг под другом */
  padding: 10px; /* Уменьшаем отступы для мобильных */
}

.popups {
  width: 100%; /* На мобильных экранах попапы занимают всю ширину */
  background-color: #f0f0f0;
  padding: 10px;
  order: 2; /* Попапы отображаются после основного контента на мобильных */
  position: fixed; /* Фиксированное положение */
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  z-index: 10; /*  Попапы поверх остального контента */
  display: none; /* Скрываем попапы по умолчанию */

}

.popup {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white; /* Белый фон для попапов */
}

.main-content {
  flex: 1;
  order: 1; /* Основной контент отображается первым на мобильных */
  padding: 10px;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-container {
  width: 100%; /* На мобильных экранах таблицы занимают всю ширину */
  margin-bottom: 20px;
  overflow-x: auto; /* Добавляем горизонтальную прокрутку для таблиц */
  box-sizing: border-box;
}

@media (min-width: 768px) { /* Для планшетов и десктопов */
  .container {
      flex-direction: row; /* Элементы располагаются рядом */
      padding: 20px;
  }
  .popups {
      width: 300px;
      position: relative; /* Попапы располагаются рядом с контентом */
      order: 0; /* Попапы отображаются слева */
      height: auto;

  }
  .main-content {
      margin-left: 320px; /* Отступ для попапов */
  }
  .table-container {
      width: 48%; /* Две таблицы в ряд */
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Фиксированная ширина столбцов */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word; /* Перенос слов в ячейках */
}

th {
  background-color: #f0f0f0;
}

.delete-btn {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: red;
}


#popupsContainer {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
display: flex;
justify-content: center; /* Центрируем по горизонтали */
align-items: flex-start; /* Центрируем по вертекали */
z-index: 100;
}